body {

    width: 100%;
    background-color: rgb(24, 24, 24);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;

}

a {

    text-decoration: none;
    color: white;

}

nav {

    height: 3rem;

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    list-style-type: none;

    padding-bottom: 0.8rem;
    

}

nav ul {
    
    min-width: 45%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    list-style-type: none;

}

nav ul li {

    flex: 1;
    font-size: large;

}

nav img {

    flex: 1 1;
    max-width: 7%;
    height: 3rem;

}

#nazev {

    flex: 1 1;
    max-width: 30%;
    margin-right: 1rem;
    min-width: 200px;
    height: 3rem;
    
}

main {

    display: flex;
    flex-flow: column wrap;
}

main article {

    flex: 1 1;
    margin-right: 4rem;
    margin-left: 4rem;
    text-align: justify;
    

}

main article h1 {

    margin-bottom: -1rem;

}

main article img {

    max-width: 100%;
    border-radius: 20px;

}

.separate {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 12%;

}

footer {

    position: relative;
    clear: both;
    bottom: 0;
    left: 0;
    width: 100%;

}

footer h1 {

    text-align: center;
    padding-top: 1.4rem;
    font-size: x-large;
    color: rgb(61, 185, 255);
    border-top: solid 0.1rem rgb(61, 185, 255);
    margin-bottom: 1.4rem;
    text-shadow: 1px 1px 3px;

}

footer section {

    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

}

footer section img {

    height: 7rem;
    min-width: 14%;
    max-width: 25%;
    margin: 0.8rem;
    flex: auto;

}

@media (max-width: 1059px) {

nav ul {
    
    margin-right: 3.5%;
    
}

#dva {
    display: none;
}
}

@media (max-width: 817px) {

nav {

    flex-wrap: wrap;

}

nav ul {

    min-width: 368px;
}

}

@media (max-width: 500px) {

nav ul {

    margin-left: 0;
    margin-right: 50px;

}

}