body {

    width: 100%;

}

nav ul {

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

}

nav ul li {

    flex: 1;

}

nav img {

    flex: 1;
    width: 690px;

}

footer {

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

}

footer img {

    height: 8rem;
    min-width: 14%;
    max-width: 25%;
    margin: 0.8rem;
    flex: auto;
    

}